html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', serif;
    font-weight: normal;
    color: #393834;
}

section {
    height: 100vh;
}

h1 {
    color: #4C2424; 
    font-weight: normal;
    font-size: 40px; 
}

h2 {
    color: #bf3837;
    font-weight: normal;
    font-size: 35px; 
}

p {
    font-size: 20px;
    line-height: 1.5;
}

li {
    list-style-type: none;
}

.section-title {
    padding-top: 40px;
    text-align: center;
}

i {
    width: 25px;
    height: 25px;
    border: solid #4C2424;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;

}

.arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.scroll {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Title Section */

#title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/Bears.jpg');
    background-size: cover;
    background-position: center;

}

#my-name {
    font-weight: bold;
    font-size: 70px; 
    margin: -65px 0 0 0;
    color: #C0BFC5;
}

#vocation {
    text-align: center;
    color:#C0BFC5;
}

#resume-link {
    text-decoration: none;
    color: #2083C9;
    border-radius: 20px;
    border: 2px solid #2083C9;
    padding: 12px;
}

/* Education Section */

#education-content {
    width: 80%;
    margin: 0 auto;
}

/* Work Section */

.work-content {
    width: 80%;
    margin: 0 auto;
}