body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

#intro {
  background-color: white;;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-right: 37px;
  padding-left: 37px;
  padding-top: 25px;
  padding-bottom: 30px;
}

h1, h2 {
  font-family: 'Hind';
  font-weight: Bold 800;
  color: rgb(0, 0, 0);
  text-align: center;
}

h1 {
  font-size: 65px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}

h2 {
  font-size: 30px;
  margin-top: 4px;
  margin-bottom: 7px;
}